* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  padding: 15px;
  box-shadow: 0 0 15px #000;
  border: 2px solid rgb(166, 114, 144);
  border-radius: 15px;
}

#inputbox {
  width: 340px;
  border: none;
  outline: none;
  margin: 10px;
  background: #000;
  color: #ffffff;
  font-size: 40px;
  text-align: right;
  padding: 20px;
  border-radius: 10px;
}

input::placeholder {
  color: #fff;
}

button {
  width: 70px;
  height: 70px;
  margin: 10px;
  background: black;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  border: 0;
  border-radius: 17%;
  box-shadow: -10px -10px 15px #000;
  outline: 1px solid #313131;
  outline-offset: 3px;
  cursor: pointer;
  transition: 0.2s;
}

button:active {
  background: #222;
  transform: translate(2px, 2px);
}

.opr {
  color: #fbff00;
}

#eqBtn {
  background: orangered;
  color: #000;
  font-weight: 900;
}
